body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

nav {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 15px;
}

.navbar-brand {
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    color: #fff;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
}

.nav-link:hover {
    background-color: #444;
}

.section {
    padding: 60px;
    margin: 20px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 1.1em;
}

.linkedin-link {
    text-align: center;
    margin-bottom: 20px;
}

.linkedin-link a {
    display: inline-block;
    padding: 10px 20px;
    color: #0077b5;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.skills h2 {
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
    color: #FFD700;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-column {
    flex: 0 0 48%;
    margin-bottom: 20px;
}

.skills ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skills ul li {
    margin-bottom: 5px;
}

.main-content h2 {
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
    color: #FFD700;
}

.main-content ul {
    list-style-type: none;
    padding: 0;
}

.main-content ul li {
    margin-bottom: 10px;
}

.skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-bar span {
    flex: 1;
}

.skill-level {
    display: flex;
    width: 150px;
    height: 15px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
}

.skill-level div {
    height: 100%;
}

.skill-level .basic {
    background-color: #FFD700;
    width: 33.33%;
}

.skill-level .intermediate {
    background-color: #FFA500;
    width: 66.66%;
}

.skill-level .advanced {
    background-color: #FF4500;
    width: 100%;
}

.project-carousel-container {
    position: relative;
    overflow: hidden;
}

.project-carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.project-carousel .project {
    flex: 0 0 auto;
    width: 250px;
    margin: 10px;
    text-align: center;
}

.project-carousel .project img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
}

.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.project-title {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: calc(12px + 0.5vw);
}

.about-description {
    flex: 2;
    margin-top: 20px;
    color: #fff; 
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
}

.project p {
    text-align: justify;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 10px 0 5px;
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077b5;
    color: white;
    cursor: pointer;
    max-width: 500px;
}

.contact-form button:hover {
    background-color: #005a8b;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-left {
    flex: 1;
    text-align: center;
}

.about-right {
    flex: 2;
    margin-top: 20px;
}

h1 {
    color: #FFD700;
}

@media (min-width: 768px) {
    .about-container {
        flex-direction: row;
    }

    .about-right {
        margin-left: 20px;
        margin-top: 0;
    }

    .skills {
        flex-direction: row;
    }
}
